@mixin boxshadow2 {
    animation-name: boxshadow2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}



@mixin colorWelcomeTextanim {
    animation-name: boxshadow2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}