$black: rgb(0,0,0);
$orange: rgb(224, 142, 0);
$orange_red: rgb(241, 226, 220);
$header_background_color: rgba(38, 49, 53, 0.445);

$div1_color: rgba(41, 195, 241, 0.349);
$div2_color: rgba(126, 252, 0, 0.137);

$cat_textcolor: rgb(70, 43, 43);

$main_font: 'Allerta Stencil', sans-serif;

$box_shadow1color: rgba(88, 9, 53, 0.5);
$box_shadow2color: rgba(44, 17, 143, 0.7);